body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.link {
    text-decoration: underline;
    color: dodgerblue;
    cursor: pointer;

    &:hover {
        color: darken(dodgerblue, 10%)
    }

    &:active {
        color: darken(dodgerblue, 20%)
    }
}

.button-link {
    @extend .link;
}